.App {
  text-align: center;
  display: inline-block;
}

.App-header {
  background-color: #292f36;
  padding: 20px;
  color: white;
  display: inline-block;
}

.contact-div {
  background-color: #00d8ff;
  padding: 20px;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.contact-icons {
  text-decoration: none;
  list-style-type: none;
}

.contact-icons li {
  display: inline-block;
}

.my-picture {
  float: left;
  padding: 20px;
  border-radius: 5%;
}

.bio {
  font-size: 25px;
  text-align: left;
  padding-top: 15px;
  line-height: 150%;
}

.project-description {
  font-size: 25px;
  line-height: 150%;
}

.my-name {
  font-size: 50px;
}

.div-header {
  font-size: 35px;
}

.project-name {
  font-size: 25px;
}

.project-div {
  color: #292f36;
}

a:link, a:visited {
  color: #292f36;
}

a:hover {
  color: #00d8ff;
}

.icon {
  padding-right: 25px;
}