.App {
  text-align: center;
}

.App-header {
  background-color: #292f36;
  height: 450px;
  padding: 20px;
  color: white;
}

.navigation {
  text-decoration: none;
  list-style-type: none;
}

.about-div {
  background-color: #0fa3b1;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
